@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Poppins, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

.content {
    padding: 20px;
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.ds-flex {
    display: flex;
}

.ds-none {
    display: none;
}
.color-wine p{
    color: #5c4e63 !important;
}
.color-sand{
    color: #d3bc8d !important;
}