.about_header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: #d3bc8d;
}

.about_header img {
    height: 100px;
}

.about_pics {
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about_pics .item {
    flex-basis: calc(25% - 5px);
}

.about_pics img {
    width: 100%;
}

.about_content {
    display: flex;
    align-items: center;
    background: url("../../images/desktop/about/wave.png") left center no-repeat;
    background-size: 500px;
    justify-content: center;
    margin: 60px 0;
}

.about_content .content {
    justify-content: flex-end;
}

.content971 {
    width: 971px;
    float: right;
}

.content971 header > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content971 header > div > img {
    margin-right: 12px;
}

.content971 header > div > p {
    color: #5c4e63;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.content971 header > h1 {
    color: #d3bc8d;
    font-weight: bold;
    font-size: 60px;
    line-height: 1.1em;
    margin: 20px 0;
}

.content971 header > p {
    color: #5c4e63;
    font-weight: bold;
    font-size: 20px;
    margin-top: 60px;
    text-transform: uppercase;
    line-height: 1.5em;
    margin-bottom: 80px;
}

.content971 > p {
    color: #5c4e63;
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 400;
}


.left_div {
    width: 40%;
    background: #fef9ee;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 400px;
    z-index: 3;
}

.dra_img {
    margin-top: 100px;
    margin-bottom: 60px;
}

.left_div_content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 80px;
    text-align: left;
    color: var(--colorWine);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: var(--fontWeightBold);
    line-height: 1.7em;
    letter-spacing: 0.2em;
}

.line {
    width: 100%;
    border-bottom: 2px solid var(--colorSand);
    text-align: center;
    margin-bottom: 30px;
}

.left_div_footer {
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin-top: 90px;
}

.left_div_footer p {
    text-transform: uppercase;
    color: var(--colorWine);
    font-weight: var(--fontWeightSemiBold);
    size: 20px;
}

.margin_bottom220px {
    margin-bottom: 0px !important;
}
